/* ---------------------------------------------------------------------
 Masthead
------------------------------------------------------------------------ */

.masthead {
    padding: 20px;
    border-bottom: 4px solid #aaaaaa;
    background-color: #eeeeee;
}

.masthead-header {
    margin-bottom: 10px;
}
